name: CI Spring Boot 4 + Java 25

on:
    push:
      branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 25 (Temurin)
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: gradle

      - name: Grant execute permission to Gradle
        run: chmod +x gradlew

      - name: Build With Gradle
        run: ./gradlew clean build

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: spring-boot-4-app
          path: build/libs/*.jar